.container {
    display: flex;
    width: 90%;
    height: 500px;
    border: 1px solid black;
    /* οριζόντια στοίχιση */
    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-around;
    justify-content: space-between;
    justify-content: space-evenly;

    /* κάθετη στοίχιση */
    align-items: start;
    align-items: center;
    align-items: end;
    align-items: stretch;
}

div[class^="box"] {
    width: 200px;
    height: 200px;
    margin: 0 5px;
    background-color: lightblue;
    border: 1px solid black;
}