.box1 {
    width: 200px;
    height: 200px;
    background-color: red;
    transition: width 1s ease-in;
    margin-bottom: 10px;
}

.box1:hover {
    width: 500px;
    transition: width 4s ease-in;
}

.box2 {
    width: 200px;
    height: 200px;
    background-color: green;
    transition: width 3s steps(6, end);
}

.box2:hover {
    width: 500px;
}